	h1 {
		font-size	: 230%;
		font-weight	: bold;
		margin-top	: 0;
	}

	dt {
		font-weight: bold;
		color		: #000;
		width		: 20%;
		float		: left;
		clear		: left;
		text-align	: right;
	}
		dt a {
			display	: block;
			text-align	: center;
		}
	dd {
		float	: left;
		width	: 79% !important;
	}

	#etat_civil {
		color	: #fff;
		background	: url(bg.top.png) #FFF bottom repeat-x;
		padding	: 10px inherit;
	}
		#etat_civil .col-lg-9 {
			width	: 75% !important;
		}
		#etat_civil .visible-lg {
			display	: block !important;
		}
		#etat_civil .fn {
			width	: 47% !important;
		}
		#etat_civil ul.col-xs-6 {
			width	: 23% !important;
		}
		#etat_civil p, #etat_civil ul  {
			text-align	: left;
			text-shadow: 2px 2px 7px #000;
		}
		#etat_civil a {
			color		: #008EC0;
		}
	#content {
		line-height : 135%;
		margin-top	: 20px;
		margin-bottom: 25px;
		width		: 74%;
		float		: left;
	}
	#content p:first-child {
		margin-top : 15px;
	}
		#content > p > a {
			display		: block;
			text-align	: center;
		}
		#content .section-title + p {
			font-style : italic;
		}
	#xp li li {
		list-style : url(arrow-right.png) outside;
		margin-left	: 16px;
	}
	#real {

		padding-left: 24% !important;

	}
	#real dt {
		width		: 24% !important;
		clear	: none !important;
	}
	#real dd {
		margin-top : 1.5em;
		width		: 24% !important;
	}
	#real dt, #real dd {
		height	: 155px;
		font-size: 90%;
	}



	#aside {
		width	: 24%;
		float	: left;
	}
	#aside a img {
		border	: 0;
	}
	#aside > div {
		text-align 	: center;
	}
	#aside div p {
		margin		: 10px 0;
	}
	#aside div a {
		display		: inline-block;
		text-align	: center;
		padding		: 3px 0;
	}
	#aside div a + a  img{
		background-color:rgba(255,255,255,0.75);
		padding		: 2px 5px;
		border			: 1px solid #fff;
	}
	#aside strong {
		display		: block;
	}
	#aside a:hover {
		border-bottom-color : #666;
	}
	#aside form {
		margin-top : 60px;
	}
	#aside label {
		text-align : left;
		display		: block;
		margin-top	: 10px;
	}
	#aside .label {
		font-size	: 90%;
	}
		#aside form {
		margin-top : 50px;
	}
	#aside > div {
		position	: fixed;
		z-index: 3;
		text-align	: center;
	}
	#aside strong {
		color : #fff;
		display		: block;
		text-align	: center;
	}
	#aside div strong + a {
		display	: block;
	}


	p.loader {
		text-align	: center;
	}
	p.loader img {
	}
	.fn {
		font-size		: 125%;
	}
	.section-title {
		font-weight		: normal;
		color			: #008EC0;
		font-size		: 1.4em;
		line-height		: 1.8em;
		clear			: both;
		font-family		: "GandhiSansBold", "Georgia";
	}
	.print {
		display : none;
	}
	.x-small {
		font-size	: 67%;
	}
	.validation {
		display	: none;
		position	: absolute;
		margin	: 0 !important;
		z-index	: 5;
	}
	input:focus + .validation, textarea:focus + .validation {
		display: block;
	}
	input:focus:required:valid + .validation, textarea:focus:required:valid + .validation {
		background: green;
	}
	input:focus:required:valid + .validation .label-danger, textarea:focus:required:valid + .validation .label-danger {
		display: none;
	}
	input:focus:required:invalid + .validation .label-success, textarea:focus:required:invalid + .validation .label-success {
		display: none;
	}
	input:valid, textarea:valid {
		background : url(valid.png) #fff 97% 3px no-repeat;
	}
	input:invalid, textarea:invalid {
		background : url(exclamation.png) #fff 97% 7px no-repeat;
	}
	.fn {
		color		: #fff;
		text-shadow: 2px 2px 7px #000;
	}
	.fn:first-line {
		font-size	: 180%;
	}
	dt img {
		display: block;
	}



/* IE Styles */
.ie7 #etat_civil {
	height	: 1%;
	width	: 100%;
}
.ie7 #etat_civil .visible-lg{
	width	: 21% !important;
}
.ie7 #xp dd {
	width	: auto !important;
}
.ie7 dd {
	width	: 76% !important;
}
.ie7 #content {
	width	: 73% !important;
}
.ie7 #aside {
	width	: 21% !important;
}
.ie7 .clearfix {
	width	: 1px;
	display	: none;
}
.ie8 {

}
.ie9 {

}
